/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body{
    background-color: #008081;
}

.container{
    width: 96%;
    margin-left: 2%;
}

@media (min-width: 1024px)
{
    .block1
    {
        width: 100%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
    }

    .block1 .el1{
        padding-left: 2%;
        text-align: left;
        width: 48%;
        float: left;
    }

    .block1 .el2{
        padding-right: 2%;
        text-align: right;
        width: 48%;
        float: left;
    }

    .block2
    {
        width: 64%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
        margin-right: 1%;
        text-align: center;
    }

    .block2 p
    {
        margin-left: 2%;
        text-align: left;
    }

    .block2 div
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 12%;
        padding-bottom: 12%;
        padding-right: 23%;
        padding-left: 23%;
        float: left;
        background-color: #8DCEC8;
    }

    .block2 .el5
    {
        position: absolute;
        visibility: hidden;
    }

    .block2 .el6
    {
        position: absolute;
        visibility: hidden;
    }

    .block3
    {
        width: 35%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
    }

    .block3 p
    {
        margin-left: 2%;
        text-align: left;
    }

    .block3 div
    {
        margin-top: 1.5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 22%;
        padding-bottom: 22%;
        padding-right: 48%;
        padding-left: 48%;
        float: left;
        background-color: #8DCEC8;
    }

    .block3 .el3
    {
        position: absolute;
        visibility: hidden;
    }


    .block4
    {
        width: 100%;
        float: left;
        background-color: white;
        text-align: center;
    }

    .block4 .el1
    {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media (min-width: 769px) and (max-width: 1023px)
{
    .block1
    {
        width: 100%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
    }

    .block1 .el1{
        padding-left: 2%;
        text-align: left;
        width: 48%;
        float: left;
    }

    .block1 .el2{
        padding-right: 2%;
        text-align: right;
        width: 48%;
        float: left;
    }

    .major
    {
        width: 100%;
    }

    .block2
    {
        width: 100%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
        margin-right: 1%;
        text-align: center;
    }

    .block2 p
    {
        margin-left: 2%;
        text-align: left;
    }

    .block2 div
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 12%;
        padding-bottom: 12%;
        padding-right: 14.5%;
        padding-left: 14.5%;
        float: left;
        background-color: #8DCEC8;
    }

    .block3
    {
        width: 100%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
    }

    .block3 p
    {
        margin-left: 2%;
        text-align: left;
    }

    .block3 div
    {
        margin-top: 1.5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 12%;
        padding-bottom: 12%;
        padding-right: 14.5%;
        padding-left: 14.5%;
        float: left;
        background-color: #8DCEC8;
    }

    .block4
    {
        width: 100%;
        float: left;
        background-color: white;
        text-align: center;
    }

    .block4 .el1
    {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

@media (max-width: 768px)
{
    .block1
    {
        width: 100%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
    }

    .block1 .el1{
        text-align: center;
        width: 100%;
        float: left;
    }

    .block1 .el2{
        text-align: center;
        width: 100%;
        float: left;
    }

    .major
    {
        width: 100%;
    }

    .block2
    {
        width: 100%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
        margin-right: 1%;
        text-align: center;
    }

    .block2 p
    {
        margin-left: 2%;
        text-align: left;
    }

    .block2 div
    {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 12%;
        padding-bottom: 12%;
        padding-right: 48%;
        padding-left: 48%;
        float: left;
        background-color: #8DCEC8;
    }

    .block2 .el3
    {
        position: absolute;
        visibility: hidden;
    }

    .block2 .el4
    {
        position: absolute;
        visibility: hidden;
    }

    .block2 .el5
    {
        position: absolute;
        visibility: hidden;
    }

    .block2 .el6
    {
        position: absolute;
        visibility: hidden;
    }

    .block3
    {
        width: 100%;
        float: left;
        background-color: white;
        margin-bottom: 1%;
    }

    .block3 p
    {
        margin-left: 2%;
        text-align: left;
    }

    .block3 div
    {
        margin-top: 1.5%;
        margin-bottom: 2%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 12%;
        padding-bottom: 12%;
        padding-right: 48%;
        padding-left: 48%;
        float: left;
        background-color: #8DCEC8;
    }

    .block3 .el3
    {
        position: absolute;
        visibility: hidden;
    }

    .block4
    {
        width: 100%;
        float: left;
        background-color: white;
        text-align: center;
    }

    .block4 .el1
    {
        padding-top: 2%;
        padding-bottom: 2%;
    }
}